/* Media query  */
@media only screen and (max-width: 768px) {
  #gigihero .input-group > .form-control,
  .input-group > .form-floating,
  .input-group > .form-select {
    height: initial !important;
  }
}

@media only screen and (max-width: 1000px) {
#basic-navbar-nav {
padding: 1.5em;
background-color:#153E65;
}
}
/*END  Media query  */

/* css navbar */
.my-clinic-nav{
  background-color: #153E65!important;
  height: 120px;
}

#basic-navbar-nav{
  /* show hamburger navbar on mobile   */
  z-index: 10;
}
#clinav-bttn {
  background: none;
  color:#A3DB00;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}

#clinav-bttn:hover {
  background: #A3DB00;
  color: #fff;
}
/* end css navbar */

/* css hero2  section 2 */

.hero-main-container {
  display: flex;
}
#gigihero {
  color: #ffffff;
  background-image: url("images/hero.jpg");
  height: "500px";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}
#gigihero2 {
  background-color: #35343496;
  box-shadow: 10px 5px 5px rgb(10 10 10 / 68%);
  border-radius: 15px;
}
/*change widht of search form */
#gigihero2 .input-group {
  width: 47%;
}
#gigihero .gigibtn {
  max-width: 350px;
}

#gigihero .input-group > .form-control,
.input-group > .form-floating,
.input-group > .form-select {
  height: calc(3.5rem + 2px);
}
.input-group .btn {
  background: #3ccd2f;
}
#gigihero .gigibtn {
  border: 0;
  background: #ffffff;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #000000;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}
#gigihero .gigibtn:hover {
  background: #3ccd2f;
  color: #fff;
}
/* END css hero2  section  */

/*css news section */
#giginews .card-header{
  background-color: #153E65;
  color:#ffffff
 ;
}
#giginews .gigibtn {
  border: 0;
  background: #ffffff;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #70ad3b;
  padding: 10px 30px;
  color: #000000;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}
#giginews .gigibtn:hover {
  background: #3ccd2f;
  color: #fff;
}
/* END css news section */


/*  css doctors listing page */
#gigidoctors .card-img, .card-img-bottom {
  width: 50%;
}

/*  END css doctors listing page */

/*  css doctors card */
#gigicards {
  margin-top: 2rem;
}

/*  END css doctors card */

/* css add doctor & clinic */
.green-top {
  background-color: #70ad3b;
  font-family: sans-serif;
  color: white;
  text-align: start;
  font-weight: bold;
  font-size: 24px;
  padding: 18px;
}
.form-color {
  background-color: rgb(248, 248, 248);
  font-family: sans-serif;
  color: #2ab833;
  text-align: start;
  font-weight: 400;
  font-size: 18px;
}

/* END css add doctor & clinic */



/* css contact */
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #6666;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  border-radius: 25px;

}

.contact .info i {
  font-size: 20px;
  color: #000000;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #000000;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #00334a;
  color: #ffffff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #043d58;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #6666;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  border-radius: 25px;

}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 25px;

}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #095d85;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 25px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0a3b52;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  height: 500px;
  width: 100%;
  border-radius: 15px;
}
/* end css contact */


/* css footer */
#footer {
  background-color: #153E65;
  color: white;
  text-align: left;
}
#footer .input-group > .form-control,
.input-group > .form-floating,
.input-group > .form-select {
  height: calc(3.5rem + 2px);
}

.logo-footer{
  width: 32%;
}
#footer .fa-lg{
  font-size: 3em;
  color: rgb(163, 219, 0);
}
#footer .nav-item {
  color:white;
  text-decoration: none;
}

/* END css footer */
