/* css navbar */
.my-clinic-nav{
  background-color: #153E65!important;
  height: 120px;
}

#clinav-bttn {
  background: none;
  color:#A3DB00;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}

#clinav-bttn:hover {
  background: #A3DB00;
  color: #fff;
}
/* end css navbar */


/* css footer */
#footer {
  background-color: #153E65;
  color: white;
  text-align: left;
}
#footer .input-group > .form-control,
.input-group > .form-floating,
.input-group > .form-select {
  height: calc(3.5rem + 2px);
}

.logo-footer{
  width: 32%;
}
#footer .fa-lg{
  font-size: 3em;
  color: rgb(163, 219, 0);
}
/* end css footer */